<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="content">
    <h2>Edit Book</h2>
    <form action="/update/{{.Book.ID}}" method="post">

        <div class="form-group">
        <label for="judul">Judul:</label>
        <input type="text" id="judul" name="judul" value="{{.Book.Judul}}" required>
        </div>

        <div class="form-group">
        <label for="penulis">Penulis:</label>
        <input type="text" id="penulis" name="penulis" value="{{.Book.Penulis}}" required>
        </div>

        <div class="rating-options">
            <input type="radio" id="star5" name="rating" value="5" {{ if eq .Book.Rating "5" }} checked {{end}}>
            <label for="star5">5</label>
    
            <input type="radio" id="star4" name="rating" value="4" {{ if eq .Book.Rating "4" }} checked {{end}}>
            <label for="star4">4</label>
    
            <input type="radio" id="star3" name="rating" value="3" {{ if eq .Book.Rating "3" }} checked {{end}}>
            <label for="star3">3</label>
    
            <input type="radio" id="star2" name="rating" value="2" {{ if eq .Book.Rating "2" }} checked {{end}}>
            <label for="star2">2</label>
    
            <input type="radio" id="star1" name="rating" value="1" {{ if eq .Book.Rating "1" }} checked {{end}}>
            <label for="star1">1</label>
        </div>

        <button type="submit">Submit</button>
        <button type="button" onclick="cancelEdit()">Cancel</button>
    </form>
</div>
</div>
</body>
<script>
    function cancelEdit() {
        window.location.href = "/";
    }
</script>
</html>
